* {
  font-family: "Montserrat", serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}